@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  max-width: auto;
  height: 70px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-div {
  max-width: 100%;
  background-color: #222;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  border: 1px solid #333;
}

header h1 {
  font-weight: 600;
  margin-left: 10px;
}

.container {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.edit-mode {
  color: #777;
  background-color: #222;
}

/* Form & Input */
.form-input {
  width: 100%;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.form-input-filter {
  color: #fff;
  margin-top: 20px;
  width: 100%;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  outline: none;
}

/* Buttons */
.btn {
  transition: 0.2s ease;
  background-color: #fff;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn:hover {
  transition: 0.2s ease;
  background-color: #7a7a7a;
}

.btn-link {
  font-size: 16px;
  background-color: transparent;
  color: #333;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn-clear {
  transition: 0.2s ease;
  margin-top: 20px;
  width: 100%;
  font-size: 16px;
  background-color: transparent;
  color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-clear:hover {
  transition: 0.2s ease;
  background-color: #222;
}

.text-red {
  color: #fff;
}

/* Items */

.items {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  width:100%;
}

.items li {
  transition: 0.2s ease;
  display: flex;
  justify-content: space-between;
  width: 45%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 5px 20px;
  font-weight: 400;
}

.items li:hover {
  transition: 0.2s ease;
  background-color: #222;
  
}

@media (max-width: 500px) {
  .container {
    border: none;
    background-color: transparent;
    padding: 10px;
  }

  header {
    flex-direction: column;
  }
  .items li {
    width: 100%;
  }
}
